body {

    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

a {
 text-decoration: none;
}

ul {
 list-style: none;
}


.logo {

    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.logo-studio {

    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.nav_link {    
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.nav_link:hover,
.nav_link:focus {
  color: #404bbf;

}

.contacts {
    font-style: normal;
}

.contacts_link {
    color: var(--SLATE, #434455);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight : 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts_link:hover,
.contacts_link:focus {
    color: #404bbf;
}


.section-main {
    background-color: #2e2f42 ;
}

.title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
}

.button:hover, button:focus {
    background-color: #404BBF;
}


.little-title {

   color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.text {
    color: var(--SLATE, #434455);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
} 

.section-team {
    
    background: var(--CLOUD, #F4F4FD);
}

.section-title-team {

    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize; 

}

.team {

    background: var(--WHITE, #FFF);
    
}

.name-team {
    
    padding-bottom: 32px;
    justify-content: center;
    background-color: var(--WHITE, #FFF);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-portfolio {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.name-portfolio {

    padding-bottom: 32px;
    flex-shrink: 0;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}

.list-portfolio {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
}


.footer-logo-studio {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {

 color:#F4F4FD;
 line-height: 1.5;
 letter-spacing: 0.02em
}